header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}
body {
	color: #666666;
	background-color: #f9f8f6;
	/*background-image: url("images/batik.jpg");
	background-position: center;*/
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
	overflow: hidden;
}
.wrapper {
	width: 90%;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}
header {
	height: 110px;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
}
h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;
}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}
nav li {
	display: inline;
	margin-right: 40px;
}
nav li a {
	color: #ffffff;
}
nav li a:hover, nav li a.current {
	color: #000000;
}
section.sidebar {
	background-color: white;
	float: left;
	width: 30%;
}
section.content {
	float: right;
	width: 60%;
}
section.content {
	float: left;
	width: 100%;
	border-right: 1px solid #FFFFFF;
	background-color: #ccc;
}
a {
	color: #de6581;
	text-decoration: none;
}
h1, h2, h3 {
	font-weight: normal;
}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;
}
h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;
}
footer {
	font-size: 80%;
	padding: 5px 20px 20px 20px; /*top right buttom left*/
}